.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    background-color: #FAF1E4;

    overflow: hidden;
  }
  
  .todo-item {
    background-color: #FAF1E4;
  }
  
  .todo-buttons button {
    background-color: #9EB384;
    color: #fff;
  }
  